/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.mobile-link{
		display: block !important; 
	}
  #profile-avatar{
    margin: auto;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  html{
    font-size: 13px;
  }
  .filter-subtitle{
   /* font-size: 0.9em;*/
 }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html{
    font-size: 12px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html{
    font-size: 12px;
  }
  .filter-title{
    /*font-size: 1.5em;*/
  }
  #profile-avatar{
    margin-left: auto;
  }
}
.card-img-top{
  min-height: 150px !important;
  max-height: 150px !important;
  object-fit: contain !important;
}

.slick-prev:before,
.slick-next:before {
  color: #2196F3;
}
/* the slides */
.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}

img{
 object-fit: contain !important;
}

.info-icon{
  object-fit: contain;
  width: 40px;
  height: 40px;
}
.page{
 background-color: #3062B3 !important;
 color: white;
 margin-right: 5px;
 padding: 5px 10px;
 border-radius: 5px;
}
.page:hover{
 color: orange;
}

.fa-star{
  font-size: 0.5em !important;
}
.checked{
  color: orange;
}

.fa-star:hover{
	cursor: pointer !important;
}
.table-wrapper{
 overflow-x: auto !important;
}